---
import { header } from "../../data/Data";
import Links from "../molecules/Links.astro";
---

<header class="fixed flex w-screen items-center justify-between px-36 py-8">
    <h1 class="text-2xl font-bold">{header.title}</h1>
    <Links />
</header>
